<!DOCTYPE html>
<html>

<head>
  <title>Contact</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <nav>
    <h2>Ranim Mohareb</h2>

    <div>
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>

  <div class="contact-container">

    <h1>Let's talk.</h1>

    <form action="/submit" method="POST">

      <input type="text" name="name" placeholder="Enter your name">

      <input type="email" name="email" placeholder="Enter email">

      <textarea name="message" placeholder="Message"></textarea>

      <button type="submit">SEND MESSAGE</button>

    </form>

  </div>

</body>

</html>