<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <nav>
    <h2>Ranim Mohareb</h2>

    <div>
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>

  <div class="home-container">

    <img src="/images/profile.jpg" alt="Ranim Mohareb">

    <h1>
      Software Engineer <br>
      & AI Developer.
    </h1>

    <p>
      I build intelligent and user-friendly digital experiences using
      software engineering, artificial intelligence, and modern web technologies.
      Passionate about creating impactful solutions that combine creativity,
      performance, and innovation.
    </p>

  </div>

</body>

</html>