<div id="about" class="container text-center py-5">

  <div class="card shadow-sm p-4 mx-auto" style="max-width: 800px;">

    <h2 class="mb-4">About Me</h2>

    <p class="text-muted">
      My name is <b>Ranim Mohareb</b>.  
      I am a Computer and Communication Engineering specialized in Artificial Intelligence.
    </p>

    <p class="text-muted">
      I love building AI systems, web applications, and learning new technologies.
    </p>

    <i class="fa-solid fa-laptop-code fa-3x text-primary mt-3"></i>

  </div>

</div>